<tr class="xthreads_inputrow">
    <td class="{{ altbg }}" width="20%">
        <strong>{{ tf.title }}</strong>
    </td>
    <td class="{{ altbg }}">
        {{ inputfield|raw }}<small style="display: block;">{{ tf.desc }}</small>
    </td>
</tr>